
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css"> 
    <link rel="stylesheet" href="static/css/section.css">
    <script src="static/css/main.js" defer></script>
    <script
    src="https://kit.fontawesome.com/2d323a629b.js"
    crossorigin="anonymous"
  ></script><!--아이콘 폰트어썸-->
    <title>Main</title>
</head>
<body>
    <nav class="navbar">
        
        <div class="navbar_logo">
            <a href="#">Sumda</a>
        </div>
        <div class="navbar_icons">
            <ul>
                <li><a>Library</a></li><!--로그인 o-->
                <li><a>Mypage</a></li><!--로그인 o-->  
                <li><i class="fab fa-instagram"></i></li><!--그냥 sns 연동-->
                <li><i class="fas fa-pencil-alt"></i></li><!--새 일기 작성하기/ 로그인 하면 뜨게 설정-->
            </ul>

        </div>

        <a class="navbar_toggleBtn" href="{% url 'sumda:login' %}"><i class="fas fa-bars"></i></a>
    </nav>

    <section>
        <div class="section_text">
            <h1>당신에게 도착한 일기가 있습니다!</h1>
            <h1>일기를 열람할까요?</h1>
            <a class="open" href="{% url 'sumda:login' %}"><p>login</p></a>

        </div>

    </section>

    <!--중간 네브-->

    <div class="mid">
             
        <nav>
         

            <ul class="navbar_menu">
                <li><a class="my">My</a></li><!--로그인 o-->
                <li><a class="others">Others</a></li><!--로그인 o-->
                

            </ul>

            <div class="navbar_icons">
                <ul>
                    <li><i class="fab fa-instagram"></i></li><!--그냥 sns 연동-->
                    <li><i class="fas fa-pencil-alt"></i></li><!--새 일기 작성하기/ 로그인 하면 뜨게 설정-->
                </ul>

            </div>

            <a class="navbar_toggleBtn" href="#"><i class="fas fa-bars"></i></a>
        </nav>
    </div>


    <!--내 글 보이는 곳-->
    <main>
        <div class="big_box">
        <selction class="diary">
            <div class="wrapper">

                <img src="static/css/poster1.jpg" alt="" />
                <div class="diary_header" >
                    <a href="{% url 'sumda:detail' %}"><h4>조금은 고된 하루</h4></a> <!--제목넣기-->
                    <h5>Written on July 6th</h5> <!--날짜넣기-->
                  </div>
            </div>
    
          </selction>
         
          <selction class="diary">
            <div class="wrapper">

                <img src="static/css/poster1.jpg" alt="" />
                <div class="diary_header">
                    <h4>조금은 고된 하루</h4> <!--제목넣기-->
                    <h5>Written on July 6th</h5> <!--날짜넣기-->
                  </div>
            </div>
    
          </selction>

          <selction class="diary">
            <div class="wrapper">

                <img src="static/css/poster1.jpg" alt="" />
                <div class="diary_header">
                    <h4>조금은 고된 하루</h4> <!--제목넣기-->
                    <h5>Written on July 6th</h5> <!--날짜넣기-->
                  </div>
            </div>
    
          </selction>

          <selction class="diary">
            <div class="wrapper">

                <img src="static/css/poster1.jpg" alt="" />
                <div class="diary_header">
                    <h4>조금은 고된 하루</h4> <!--제목넣기-->
                    <h5>Written on July 6th</h5> <!--날짜넣기-->
                  </div>
            </div>
    
          </selction>

          <selction class="diary">
            <div class="wrapper">

                <img src="static/css/poster1.jpg" alt="" />
                <div class="diary_header">
                    <h4>조금은 고된 하루</h4> <!--제목넣기-->
                    <h5>Written on July 6th</h5> <!--날짜넣기-->
                  </div>
            </div>
    
          </selction>
    

        </div>

    </main>

    <main>

        <div class="big_box2">
         
          <selction class="diary">
            <div class="wrapper">

                <img src="static/css/poster1.jpg" alt="" />
                <div class="diary_header">
                  <a href="{% url 'sumda:detail' %}"><h4>조금은 고된 하루</h4></a> <!--제목넣기-->
                    <h5>Written on July 6th</h5> <!--날짜넣기-->
                  </div>
            </div>
    
          </selction>

          <selction class="diary">
            <div class="wrapper">

                <img src="static/css/poster1.jpg" alt="" />
                <div class="diary_header">
                    <h4>조금은 고된 하루</h4> <!--제목넣기-->
                    <h5>Written on July 6th</h5> <!--날짜넣기-->
                  </div>
            </div>
    
          </selction>

          <selction class="diary">
            <div class="wrapper">

                <img src="static/css/poster1.jpg" alt="" />
                <div class="diary_header">
                    <h4>조금은 고된 하루</h4> <!--제목넣기-->
                    <h5>Written on July 6th</h5> <!--날짜넣기-->
                  </div>
            </div>
    
          </selction>

          <selction class="diary">
            <div class="wrapper">

                <img src="static/css/poster1.jpg" alt="" />
                <div class="diary_header">
                    <h4>조금은 고된 하루</h4> <!--제목넣기-->
                    <h5>Written on July 6th</h5> <!--날짜넣기-->
                  </div>
            </div>
    
          </selction>
          <selction class="diary">
            <div class="wrapper">

                <img src="static/css/poster1.jpg" alt="" />
                <div class="diary_header">
                    <h4>조금은 고된 하루</h4> <!--제목넣기-->
                    <h5>Written on July 6th</h5> <!--날짜넣기-->
                  </div>
            </div>
    
          </selction>

        </div>

    </main>

    


    <footer>
        <ul>
            <li> <i class="fas fa-book"></i></li>
            <li><p>Made by Sumda...         
            </p></li>
            <li>2021 신촌 해커톤</li>
        </ul>

    </footer>

</body>

</html>